.zoom-instagram-widget .button-connect {
    /*height: auto;*/
    /*padding: 9px 12px;*/
    color: #fff;
    border: 1px solid #1c5380;
    border-radius: 3px;
    background-color: #6f97b6;
    background-image: -webkit-linear-gradient(top, #6f97b6, #3f729b);
    background-image: linear-gradient(to bottom, #6f97b6, #3f729b);
    background-position: 50% 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px 1px #1c5380;
}

.zoom-instagram-widget .button-connect:focus,
.zoom-instagram-widget .button-connect:hover {
    border-color: #1c5380;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #5D87A8, #3f729b);
    background-image: linear-gradient(to bottom, #5D87A8, #3f729b);
}

.zoom-instagram-widget {
    background: #fff;
    padding: 30px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 30px 10px 30px 0 !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.zoom-themes-link {
    border: 1px solid #E2E9EC;
    background: #F7FAFA url('../images/wpzoom.png') no-repeat center bottom;
    padding: 30px 30px 260px 30px;
    border-radius: 3px;
    margin: 30px 0 30px 0 !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    text-align: center;
}

.zoom-themes-link p {
    font-size: 15px;
    line-height: 1.6;
}

.cta-button {
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #3EBD3E;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 -1px 1px rgba(0,0,0, 0.2) inset;
    border: 1px solid #259425;
    font-size: 16px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.cta-button:hover {
    background: #2A9B2A;
    color: #fff;
}

#wpzoom-instagram-widget-settings_transient-lifetime-value{
    max-width: 150px;
    float: left;
}

#wpzoom-instagram-widget-settings_transient-lifetime-type{
    float: left;
    max-width: 100px;
}