html {
	background: transparent !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;

	body {
		background: transparent !important;
		padding: 0 !important;
		border: 0 !important;
		margin: 0 !important;

		> * {
			display: none !important;
		}

		> .zoom-instagram-widget {
			display: block !important;
			background: transparent !important;
			padding: 0 !important;
			border: 0 !important;
			margin: 0 !important;
		}
	}
}