html {
	background: transparent !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;

	body {
		background: transparent !important;
		padding: 0 !important;
		border: 0 !important;
		margin: 0 !important;

		> .zoom-new-instagram-widget {
			padding: 0 !important;
			border: 0 !important;
			margin: 0 !important;
		}
	}
}