html {
	background: transparent !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;

	body {
		background: transparent !important;
		padding: 30px !important;
		border: 0 !important;
		margin: 0 !important;

		> * {
			display: none !important;
		}

		> .zoom-new-instagram-widget {
			display: block !important;
			padding: 0 !important;
			border: 0 !important;
			margin: 0 !important;

			.zoom-instagram {
				border: none;
			}
		}
		
		.zoom-instagram {
			background: rgba(0, 0, 0, 0.05);
			padding: 25px;
			// border: 1px solid rgba(0, 0, 0, 0.1) !important;
            border: 20px solid rgba(0, 0, 0, 0.0) !important;
			border-radius: 3px;

			.button,
			.wpzinsta-pro-load-more input[type='submit'],
			.wpzinsta-pro-load-more button[type='submit'] {
				display: flex !important;
				flex-direction: row !important;
				align-items: center !important;
				justify-content: center !important;
				gap: 10px !important;
				cursor: pointer;
				font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
				font-size: 0.929em !important;
				font-weight: 600 !important;
				text-decoration: none !important;
				line-height: 35px !important;
				color: #fff !important;
				background: #3496ff !important;
				min-height: 35px !important;
				padding: 0 12px !important;
				border: 0 !important;
				border-radius: 2px !important;
				transition: all 0.2s ease !important;

				&:hover,
				&:active {
					text-decoration: none !important;
					color: #fff !important;
					background: #70b5fe !important;
				}

				&.disabled {
					pointer-events: none !important;
					opacity: 0.5 !important;
				}

				> .button-icon {
					height: 18px !important;
					width: 18px !important;
				}
			}

			.select-a-feed {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				cursor: default;
				line-height: 24px;
				padding: 0;
				margin: 0;

				svg {
					flex-shrink: 0;
					color: #3496ff;
					height: 24px;
					width: 24px;
					animation: point 1s infinite;
				}
			}
		}
	}
}

@keyframes point {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-30%);
	}
	100% {
		transform: translateX(0%);
	}
}